
<%- include("head"); -%>
    <div class="container">
      <h1>Home</h1>
      <div class="row">
        <div class="col-sm-6 morePad">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Compose</h5>
              <p class="card-text">Use this form to add a new booking to the system</p>
              <a href="/compose" class="card-link">Card link</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 morePad">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">View</h5>
              <p class="card-text">Look through all of the bookings that have been made</p>
              <a href="/posts" class="card-link">Card link</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 morePad">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Delete</h5>
              <p class="card-text">Delete any of the bookings</p>
              <a href="/delete" class="card-link">Card link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </body>
</html>